<div class="nav">
</div>
<div class="container">
    <div class="login_form">
        <div class="logo">
            <img src="../img/logo2.png" alt="">
        </div>
        <form action="/login" method="POST">
            <div class="input">
                <div class="inputEmail">
                    <label for="email" class="center">Email</label>
                    <input type="text" name="email">
                </div>
                <div class="inputPass">
                    <label for="password" class="center">Password</label>
                    <input type="password" name="password">
                </div>
            </div>
            <div class="remember center">
                <label class="checkbox ">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                </label>
                <div>
                    {{#if messages.error }}
                        <h1>{{messages.error}}</h1>
                    {{/if}}
                </div>
            </div>
            <div class="center">
                <button class="loginButton">Log In</button>
            </div>
        </form>
        
        <div class="center">
        <a href="forget_password" class="forgot">Forgot Password?</a>

        </div>
        <div class="sign">
            <p class="center">New user? Sign up <a href="register" class="sign-up">here.</p>
        </div>
    </div>
</div>