<div class="main-div">
     <nav>
          <div id="banner">
               <div id="banner-content">
               </div>
          </div>
     </nav>
     <div id="login-in">
          <form action="/register" method="POST">
               <div class="text-center">
                    <div>
                         Register
                    </div>
                    <div>
                         <div>
                              name:
                         </div>
                         <div>
                              <input type="text" name="name" required>
                         </div>
                         <div>
                              Email:
                         </div>
                         <div>
                              <input type="email" name="email" required>
                         </div>
                         <div>
                              Password:
                         </div>
                         <div>
                              <input type="password" name="password" required>
                         </div>
                         <div>
                              <input type="checkbox" name="remember me">
                              <label for="remember me">Remember me</label>
                         </div>
                         <div>
                              <button type="submit">Register</button>
                         </div>
                         <div>
                              {{#if errorMessage }}
                                   <h1>{{errorMessage}}</h1>
                              {{/if}}
                         </div>
                         <div>
                              <a href="https://www.google.com">forget password!</a>
                         </div>
                         <div>
                              Old User? login in <a href="login">here!</a>
                         </div>
                    </div>
               </div>
          </form>
     </div>
</div>