
<div class="nav">
</div>
<div class="container">
    <div class="login_form">
        <div class="logo">
            <img src="../img/logo2.png" alt="">
        </div>
        <form action="/register" method="POST">
            <div class="input">
                <div class="inputName">
                    <label for="name" class="center">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="inputEmail">
                    <label for="email" class="center">Email</label>
                    <input type="text" name="email">
                </div>
                <div class="inputNumber">
                    <label for="number" class="center">Mobile Number</label>
                    <input type="text" name="number">
                </div>
                <div class="inputPass">
                    <label for="password" class="center">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="inputConfirmPass">
                    <label for="confirmPassword" class="center">Confirm Password</label>
                    <input type="password" name="confirmPassword">
                </div>
            </div>
            <div class="center">
                <button class="signUpbtn">Sign Up</button>
            </div>
            <div>
                {{#if errorMessage }}
                    <h1>{{errorMessage}}</h1>
                {{/if}}
            </div>
        </form>
        <div class="login">
            <p class="center">Already have an account? Log in <a href="login" class="log-in">here.</a></p>

        </div>
    </div>
</div>
