<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Security Code</title>
</head>

<body>
    <div class="nav">
    </div>
    <div class="container">
        <div class="form">
            <div class="logo">
                <img src="img/logo2.png" alt="">
            </div>

            <p class="center tl">Enter security code</p>
            <hr>
            <p class="instruction">Please check your email for a message with your code. Your code is 6 numbers long.</p>
            <div class="input">
                <div class="inputCode">
                    <label for="code" class="center">Enter code</label>
                    <input type="text" name="code">
                </div>

            </div>
            <div class="center">
                <button>Continue</button>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
