
<div class="nav">
</div>
<div class="container">
    <div class="form">
        <div class="logo">
            <img src="img/logo2.png" alt="">
        </div>

        <p class="center tl">Trouble logging in?</p>
        <hr>
        <p class="instruction">Enter your email and we'll send you a code to get back into your account.</p>
        <form action="/forget_password" method="POST">
            <div class="input">
                <div class="inputEmailUsername">
                    <label for="emailUsername" class="center">Email</label>
                    <input type="text" name="emailUsername">
                </div>
            </div>
            <div class="center">
                <a href="security_code"> <button>Send a code</button></a>
            </div>
        </form>
    </div>
</div>
</div>