<div>
     <table>
          <thead>
               <th>Name</th>
               <th>Email</th>
          </thead>
          {{#each users}}
               <tr>
                    <td>{{this.name}} </td>
                    <td>{{this.email}} </td>
               </tr>
          {{/each}}
     </table>
</div>